<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CGYJN9NTJL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-CGYJN9NTJL');
  </script>

  <title>
    Drivekraft - Lending ears across the globe. Free Mental HealthCare Session
  </title>

  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta name="description"
    content="Indian Mental HealthCare StartUp Working on making Mental Health Servies  Affordable for everyone. WE provide Free Mental HealthCare Session across the globe" />
  <meta name="keywords" content="moodle, Drivekraft Free Online Therapy for Mental HealthCare" />

  <!-- Favicon -->
  <link rel="icon" href="{{url_for('static', filename='images/logo.png')}}" type="image/x-icon"> 
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">



  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- Swiper CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swiper.min.css') }}">


  <!-- Animate.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

  <!-- Stylesheet Main -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">


  <script src="js/custom.js"></script>

</head>

<body>
    <div class="contact-page-short-boxes" style="
        background: linear-gradient(
          270deg,
          rgba(254, 128, 81, 1) 0%,
          rgba(249, 180, 92, 1) 100%
        );
      ">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-12 col-12 col-md-4 mt-5 mt-lg-0" style="margin-top:10px; margin-bottom: 10px;">
            <div class="emergency-box h-100 animate__animated wow animate__fadeInUp">
                <section id="team">
                    <div class="container my-3 py-5 text-center">
                        <div class="row mb-5">
                            <div class="col">
                                <h1>Our Psychologists</h1>
                                <p class="my-3">
                                    Choose a psychologist to check availability.
                                </p>
                            </div>
                        </div>
                        <div class="row">

                        {% for i in range(0,desc|length) %}
                        
                            <div class="col-lg-3 col-md-6 pt-1" style="margin-top:10px; margin-bottom: 10px;">
                                <div class="card h-100" >
                                    <a href="/psychologist/AAA/{{ desc[i][1] }}" style="text-decoration: none;">
                                    <div class="card-body">
                                        <img class="img-fouild rounded w-75 mb-3"
                                            src="static/images/{{desc[i][6]}}"
                                            alt="Sophie">
                                        <h3>{{ desc[i][1] }}</h3>
                                        <h5>{{ desc[i][2] }}</h5>
                                        <p>{{ desc[i][0] }}</p>
                                        <!-- <div class="d-flex flex-row justify-content-center">
                                            <div class="p-4">
                                                <a href="#">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </div>
                                            <div class="p-4">
                                                <a href="#">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </div>
                                            <div class="p-4">
                                                <a href="#">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            </div>
                                        </div> -->
                                    </div>
                                    </a>
                                </div>
                            </div>
                           

                        {% endfor %}

                        
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
